@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$logo-size: 32px;
$nav-height: 60px;
$nav-color: #191818;
$primary: #00d474;
$secondary: #ffffff;
$background: #14181c;
$elevation: #b8b8b8;
$bar-color: #202020;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: $elevation;
}

::-webkit-scrollbar-thumb {
	background: #898989;
	&:hover {
		background: #7e7e7e;
	}
}

body {
	font-family: "Roboto", sans-serif;
	background-color: $background;
	margin-top: $nav-height;
	font-size: 14px;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.name-container {
	width: 33%;
}

.search-logo {
	width: $logo-size;
	cursor: pointer;
	margin: 10px;
	z-index: 4;
}

.location-logo {
	width: $logo-size;
	cursor: pointer;
	margin: 10px;
	z-index: 4;
}

.nav-bar {
	display: flex;
	position: fixed;
	width: 100%;
	height: $nav-height;
	top: 0;
	justify-content: space-between;
	align-items: center;
	background-color: $nav-color;
	transition: 0.4s;
	z-index: 3;
}

.name-container {
	display: flex;
	width: 33%;
	height: $nav-height;
	justify-content: center;
	align-items: center;

	.name-logo {
		color: $primary;
		font-family: "Oswald", sans-serif;
		letter-spacing: 2px;
		font-size: 32px;
		cursor: pointer;
	}
}

.search-mobile {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $nav-height;
	background-color: $nav-color;
	overflow: hidden;
	transform: translateY(-100%);
	transition: transform 0.2s;
	z-index: 2;
}

.search-desktop {
	width: 33%;
}

.search-form {
	display: flex;
	justify-content: center;

	.search-input {
		width: 60%;
		height: 36px;
		padding-left: 14px;
	}

	.search {
		width: 60px;
		height: 36px;
	}
}

.country-mobile {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: $nav-height;
	background-color: $bar-color;
	overflow: hidden;
	transform: translateY(-100%);
	transition: transform 0.2s;
	z-index: 2;
}

.country-desktop {
	position: relative;
	display: flex;
	width: 33%;
	justify-content: center;
}

.country-form {
	display: flex;
	justify-content: center;

	.country-input {
		width: 70%;
		height: 36px;
	}

	.country-flag {
		position: absolute;
		top: 8px;
		right: 11vw;

		img {
			width: 30px;
			height: 20px;
		}
	}
}

.main-container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 1000px;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	line-height: 40px;
	z-index: 1;

	.random-name {
		position: absolute;
		top: 960px;
		left: 10px;
		color: $secondary;
		mix-blend-mode: difference;
	}
}

.search-container {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 180px);
	grid-gap: 40px;
	padding: initial;

	.box-movie {
		color: $secondary;
		width: 180px;
		height: 300px;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
		}
	}
}

.search-back-next-container {
	display: flex;
	justify-content: center;
	// min-height: 60vh;
	margin-top: 10px;

	button {
		width: 100px;
		height: 30px;
		margin-top: 4px;
		font-size: 10px;
		cursor: pointer;
		background-color: transparent;
		border: 2px solid $secondary;
		color: $secondary;
		margin: 10px;
		transition: 0.2s ease-in-out;

		&:hover {
			border: 2px solid black;
			background-color: $secondary;
			color: black;
		}

		&:disabled {
			cursor: default;
			border: 2px solid #6b6b6b;
			background-color: #7a7a7a;
			color: #6b6b6b;
		}
	}
}

.all-container {
	display: flex;
	flex-direction: column;
	color: $secondary;

	.top-section {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1000px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 0 2000px rgba(15, 15, 15, 0.7);
		padding: 0px 80px;

		.top-section-text {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 800px;
			height: 300px;
			margin-left: 20px;

			.top-section-title {
				display: flex;
				align-items: center;
				margin: 0px;

				.top-section-title-name {
					margin-right: 10px;
				}
			}

			.top-section-info {
				display: flex;
			}

			.top-section-rating {
				display: flex;
				align-items: center;

				.star {
					color: $primary;
				}

				p {
					color: $elevation;
					font-size: 12px;
				}
			}
		}
	}

	.video-section {
		display: flex;
		justify-content: space-between;
		margin: 20px 0px;
		overflow-x: auto;
	}

	.review-section {
		display: flex;
		flex-direction: column;
		margin-top: 20px;

		.review {
			margin: 10px 0px;
			color: $elevation;

			h2 {
				color: $secondary;
			}

			p {
				margin: 10px 0px;
				line-height: 24px;
			}

			a {
				color: $primary;
			}
		}
	}
}

.all-container {
	display: flex;
	flex-direction: column;
	color: $secondary;

	.cast-top-section {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 1000px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		box-shadow: inset 0 0 0 2000px rgba(15, 15, 15, 0.7);
		padding: 0px 80px;

		.cast-top-section-text {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			width: 800px;
			height: 300px;
			margin: 0px 20px;
		}
	}

	.cast-bio {
		margin: 10px 0px;
	}
}

.footer {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	margin-top: 10px;
	background-color: $bar-color;
	margin-top: auto;

	a {
		color: $secondary;
		text-decoration: none;
	}

	&:visited,
	&:hover,
	&:visited {
		color: $secondary;
		text-decoration: none;
	}
}

.footer-top {
	display: flex;
	justify-content: space-evenly;
	height: 85%;
}

.left {
	width: 50%;
	font-size: 0.8em;
	color: $secondary;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin: auto;

	h1 {
		margin: 10px 60px;
	}
}

.right {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.right-top {
		img {
			width: 300px;
			height: auto;

			&:hover {
				opacity: 0.8;
			}
		}
	}

	.right-bottom {
		display: flex;
		justify-content: space-evenly;

		img {
			width: 100px;
			height: 100px;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}

.footer-bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 15%;
	color: $secondary;
}

.box-movie {
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 300px;
	margin-right: 20px;
	letter-spacing: 1px;
	color: $secondary;
	transition: transform 0.2s;

	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

.box-cast {
	display: flex;
	flex-direction: column;
	width: 180px;
	height: 300px;
	margin-right: 20px;
	letter-spacing: 1px;
	color: $secondary;
	transition: transform 0.2s;

	&:hover {
		cursor: pointer;
		opacity: 0.8;
	}
}

.movie-title {
	font-size: 1em;
}

.cast-title {
	font-size: 1em;
}

.box-img-movie {
	width: 180px;
	height: 270px;
	border-radius: 5px;
}

.box-img-cast {
	width: 180px;
	height: 270px;
	border-radius: 5px;
}

.poster {
	width: 320px;
	height: 480px;
	border-radius: 10px;
}

.video {
	width: 420px;
	height: 345px;
}

.header-name {
	font-size: 2em;
	letter-spacing: 2px;
	color: $primary;
	margin-top: 10px;
}

.container {
	display: flex;
	overflow-x: auto;
	overflow-y: hidden;
	height: 320px;
	align-items: center;
}

.reveal {
	transform: translateY(0);
}

.unavailable {
	font-size: 20px;
	color: $elevation;
}

.margin {
	margin: 0px 60px;
}

.hidden {
	display: none;
}

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

@media only screen and (max-width: $laptop-l) {
	// .search-back-next-container {
	// 	min-height: 10vh;
	// }

	.main-container {
		height: 800px;
		background-position: top;

		.random-name {
			top: 760px;
		}
	}

	.all-container {
		.top-section {
			height: 800px;
		}

		.cast-top-section {
			height: 800px;
		}
	}
}

@media only screen and (max-width: $laptop) {
	.margin {
		margin: 0px 40px;
	}

	.left {
		h1 {
			margin: 10px 40px;
		}
	}
}

@media only screen and (max-width: $tablet) {
	body {
		font-size: 10px;
	}

	.search-container {
		grid-template-columns: repeat(auto-fit, 150px);

		.box-movie {
			color: $secondary;
			width: 150px;
			height: 260px;
		}
	}

	.country-form {
		.country-flag {
			top: 20px;
			right: 12vw;
		}
	}

	.main-container {
		height: 600px;

		.random-name {
			top: 560px;
		}
	}

	.all-container {
		.top-section {
			height: 600px;
			padding: 0px 20px;

			.top-section-text {
				justify-content: space-evenly;
				width: 1200px;
				height: 300px;
			}
		}

		.cast-top-section {
			height: 600px;
		}
	}

	.box-movie {
		display: flex;
		flex-direction: column;
		width: 150px;
		height: 260px;
	}

	.box-img-movie {
		width: 150px;
		height: 225px;
		border-radius: 4px;
	}

	.box-cast {
		display: flex;
		flex-direction: column;
		width: 150px;
		height: 260px;
	}

	.box-img-cast {
		width: 150px;
		height: 225px;
		border-radius: 4px;
	}

	.container {
		height: 280px;
	}

	.poster {
		width: 200px;
		height: 300px;
		border-radius: 8px;
	}

	.footer {
		height: 360px;
	}

	.footer-top {
		width: 100%;
		flex-direction: column;
	}

	.left {
		width: 100%;
	}

	.right {
		width: 100%;
		height: 260px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		.right-top {
			img {
				width: 200px;
				height: auto;
			}
		}

		.right-bottom {
			display: flex;
			justify-content: space-evenly;

			img {
				width: 80px;
				height: 80px;
			}
		}
	}

	.search-container {
		grid-gap: 20px;
	}
}

@media only screen and (max-width: $mobile-l) {
	body {
		font-size: 8px;
	}

	.search-container {
		grid-template-columns: repeat(auto-fit, 120px);

		.box-movie {
			color: $secondary;
			width: 120px;
			height: 240px;
		}
	}

	.country-form {
		.country-flag {
			top: 20px;
			right: 14vw;
		}
	}

	.main-container {
		height: 500px;

		.random-name {
			top: 460px;
		}
	}

	.all-container {
		.top-section {
			height: 500px;
			padding: 0px 10px;

			.top-section-text {
				justify-content: center;

				.top-section-overview {
					p {
						font-size: 0.8em;
					}
				}
			}
		}

		.cast-top-section {
			height: 500px;

			.cast-top-section-text {
				justify-content: center;
				line-height: 20px;
			}
		}
	}

	.box-movie {
		display: flex;
		flex-direction: column;
		width: 120px;
		height: 220px;
	}

	.box-img-movie {
		width: 120px;
		height: 180px;
		border-radius: 4px;
	}

	.box-cast {
		display: flex;
		flex-direction: column;
		width: 120px;
		height: 220px;
	}

	.box-img-cast {
		width: 120px;
		height: 180px;
		border-radius: 4px;
	}

	.container {
		height: 230px;
	}

	.poster {
		width: 160px;
		height: 240px;
		border-radius: 7px;
	}

	.margin {
		margin: 0px 30px;
	}

	.left {
		h1 {
			margin: 10px 30px;
		}
	}
}

@media only screen and (max-width: $mobile-m) {
	.main-container {
		height: 400px;

		.random-name {
			top: 360px;
		}
	}

	.all-container {
		.top-section {
			height: 400px;
		}

		.cast-top-section {
			height: 400px;
		}
	}

	.poster {
		width: 120px;
		height: 180px;
		border-radius: 7px;
	}
}

@media only screen and (max-width: $mobile-s) {
	.country-form {
		.country-flag {
			top: 20px;
			right: 16vw;
		}
	}

	.main-container {
		height: 300px;

		.random-name {
			top: 260px;
		}
	}

	.all-container {
		.top-section {
			height: 300px;
		}

		.cast-top-section {
			height: 300px;
		}
	}
}
